$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "shared/base";

html {
  // background: url("https://source.unsplash.com/2560x1440/?forest,mountain") center no-repeat fixed;
  // background-color: black center no-repeat fixed;

}

body {
  background-image: url("https://cdn.hipwallpaper.com/i/98/35/vtJwZs.jpg");
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.mobile-menu{
  
  &--link{
    
    padding: 1rem 0;
    font-size:  2em;
    color: darken($color: #fff, $amount: 25%);
    &.active{
      color: lighten($color: $red, $amount: 10%);
    }
    &:hover {
      color: lighten($color: $red, $amount: 10%);
      transition: ease-in-out 0.5s;
    }
  }

}

.nav-item {
  font-size: 1.5em;
  font-weight: 400;
  .nav-link{
    color: darken($color: #fff, $amount: 15%);
    
    &.active{
      font-weight: 500;
      color: #fff;
    }
    &:hover {
      font-weight: 500;
      color: #fff;
      transition: ease-in-out 0.5s;
    }
  }
}

.navbar-brand {
  font-size: 1.5em;

  img {
    display: inline-block;
    width: 50px;
  }
}


.btn-action {
  outline: none;
  border: none;
}

@import "pages/home-page.scss";
// @import "main-window";
// @import "call-window";
// @import "call-modal";