$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~bootstrap/scss/bootstrap";

@import "./variables.scss";


body {
    background: $primary-color;
    color: $main-color;
}


// @import "main-window";
// @import "call-window";
// @import "call-modal";