<div class="d-flex align-items-center justify-content-center full-screen ">
    <div class="container">
        <div class="row">
            <a target="_blank" href="https://angularjs.org/" class="col-sm-12 col-lg " >
                <img src="../../../assets/images/angular.svg" style="height: 300px; width: 300px;" alt="">
            </a>
            <a target="_blank" href="https://webpack.js.org/" class="col-sm-12 col-lg " >
                <img src="../../../assets/images/webpack.svg" style="height: 300px; width: 300px;" alt="">
            </a>
            <a target="_blank" href="https://sass-lang.com/" class="col-sm-12 col-lg " >
                <img src="../../../assets/images/sass.svg" style="height: 300px; width: 300px;" alt="">
            </a>
        </div>
        <div class="row" style="height: 50px;"></div>
        <div class="row mt-5">
            <div class="col-md-8 mx-auto text-center">
                <h1>{{title}}</h1>
                <h3>Creator : {{creator}}</h3>
                <h3>Application : {{appname}}</h3>
            </div>
        </div>
    </div>
</div>